.nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  padding-inline: 5em;
  background-color: var(--element-color);
  color: var(--font-color);
}
.navIcon {
  margin-top: 1px;
  transform:rotate(-20deg);
  font-size: 16px;
}
@media screen and (max-width:500px) {
  .nav {
    padding-inline: 1em;
  }
  .navIcon {
    font-size: 13px;
  }
}
