.sideBar {
  padding: 1em;
  width: 25%;
  min-height: 25em;
  color: var(--font-color); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--element-color);
  border-radius: 4px;
  white-space: nowrap;
}
@media screen and (max-width:1050px)
{
    .sideBar
    {
      padding: 0.7em;
      font-size: 0.7em;
    }
}
@media screen and (max-width:910px)
{
    .sideBar
    {
        display: none;
    }
}