.sideBar {
  padding: 1.5em;
  width: 25%;
  min-height: 25em;
  color: var(--font-color); 
  box-shadow:0px 0px 10px 3px var(--sidebar-shadow-color);
  background-color: var(--element-color);
  border-radius: 10px;
  white-space: nowrap;
}
@media screen and (max-width:1050px)
{
    .sideBar
    {
      padding: 0.7em;
      font-size: 0.7em;
    }
}
@media screen and (max-width:900px)
{
    .sideBar
    {
        display: none;
    }
}