#light {
  min-height: 100vh;
  background-color: var(--background-color);
  --background-color: #ffffff;
  --element-color: #fafafa;
  --hover-color: #D0D0D0;
  --sidebar-shadow-color: #f7f7f7;
  --shadow-color: #858585;
  --font-color: #111517;
}
#dark {
  min-height: 100vh;
  background-color: var(--background-color);
  --background-color: #202c37;
  --element-color:  #2b3945; 
  --hover-color: #202c36;
  --sidebar-shadow-color: #25292a;
  --shadow-color: #111517; 
  --font-color: #fafafa;
}
